body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

#brandLogo {
    vertical-align:middle;
}

.circle {
    display: inline-block;
    vertical-align:middle;
    background-color:#fff;   
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    margin-bottom: 10px;
}

.fontTwenty {
    font-size: 20px;
}